div{
    background-color: lightskyblue;
    padding: 25px;
    border: 15px;
    margin: 25px;
    border-style: solid;
    border-color:black;
    border-width: 5px;
}

h1{
    text-align: center;
    color: blueviolet;
}

h2{
    font-family: fantasy;
    display: inline-block;
}

body{
    background-color: aqua;
}          

p{
     text-align: center;
     background-color: hsla(104, 100, lightness, alpha);
     font-family: Roboto;
     color: blue;
     font-size: 20px;
     margin: 40px;
}

.moneymaker{
    color: violet;
    font-family: cursive;

}

.languages{
    color: rgb(236, 156, 236);
    font-family: cursive;
}

.sports{
    color:rgb(155, 107, 233);
    font-family: cursive;
}

#pets{
    color:hsla(283, 48%, 61%, 0.836);
    font-family: cursive;
}

.memes{
    color: blue ;
    font-family: cursive;
}

#favoritetvshow{
    color: rgb(82, 163, 240);
    font-family: cursive;
}

.image{
    text-align: left;
    width: 50%;
    height: 50%;
    margin: 20px;
}